div.meet-biyi{
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 28px;
    justify-content: center;
    /* align-items: center; */
    color: var(--primary-color-2);
    margin: 0 60px;
    padding-block-start: 12.5rem;
    margin-bottom: 135px;
}
@media screen and (max-width: 1200px) {
    div.meet-biyi{
        margin: 0  30px;
        gap:20px;
        padding-block-start: 12.5rem;
        margin-bottom: 135px;
    }
}

@media screen and (max-width:1024px) {
    div.meet-biyi{
        gap: 15px;
        color: var(--primary-color-2);
        margin: 0  15px;
        padding-block-start: 12.5rem;
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 768px) {
    div.meet-biyi {
    gap: 15px;
    color: var(--primary-color-2);
    margin: 0 0px;
    padding-block-start: 109px;
    margin-bottom: 0px;
    padding-block-end: 150px;
    height: auto;
}
}

div.learnmore{
    position: absolute;
    bottom: 5%;
    left: 75%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    cursor: pointer;
}


@media screen and (max-width:768px) {
    div.learnmore{
        position: absolute;
        bottom: 0%;
        z-index: 2;
        cursor: pointer;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap:10px;
    }   
}
div.learnmore > span{
    white-space: nowrap;
    color: #E4BB89;
    font-size: 20px;
    font-weight: 600;
    transition: all ease 0.5s;
}
/* div.learnmore > img{
    transform: all 0.5s ease;
} */
div.learnmore:hover > span{
    color: #FFF;
}
div.learnmore:hover > svg > path{
    fill: #FFF;
}
div.learnmore:hover > svg{
    animation: rotateImg 0.5s linear 1 forwards;
    transform: rotate(0deg);
}

@keyframes rotateImg {
    to{
        transform: rotate(-180deg);
    }    
}
/* div.learnmore::after{
    content: "learn more";
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0); 
    width: 85%;
    height: 85%;
    background-color: #FFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.5s;
}
div.learnmore:hover::after{
    transform: translateX(-50%) translateY(-50%) scale(1);
} */
/* @media screen and (max-width:425px) {
    div.meet-biyi{
        height: 25rem;
        margin: 0 0rem;
    }
} */
/* @media screen and (max-width:375px){
    div.meet-biyi{
        margin: 0 0.75rem;
    }   
} */
div.meet-biyi-01{
    flex: 1;
    transition: all ease 0.5s;
}


@media screen and (max-width: 768px) {
    div.meet-biyi-01{
        width: 100%;
        flex: 1;
    }
}

div.meet-biyi-01 > img.desktop-image{
    display: block;
    width: 100%;
}
div.meet-biyi-01 > img.mobile-image{
    display: none;
}
@media screen and (max-width: 768px) {
    div.meet-biyi-01 > img.desktop-image{
        display: none;
        width: 100%;
    }
    div.meet-biyi-01 > img.mobile-image{
        display: block;
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width:768px){
    div.meet-biyi-01{
        position: absolute;
        z-index: 1;
        height: 100%;
    }
    /* div.meet-biyi-01{
        height: 100%;
    } */
}
div.meet-biyi-02{
    flex: 1;
}

@media screen and (max-width: 768px){
    div.meet-biyi-02{
        padding-block-start: 60px;
        padding-inline: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        z-index: 2;
    }
}

div.meet-biyi-02 > p{
    color: #FFF;;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 36px;
}
div.meet-biyi-02 > p:last-child{
    margin-bottom: 18px;
}   
@media screen and (max-width: 1201px) {
    div.meet-biyi-02 > p{
        font-size: 18px;
        margin-bottom: 30px;
    }
    div.meet-biyi-02 > p:last-child{
        margin-bottom: 18px;
    }
}

@media screen and (max-width: 1026px) {
    div.meet-biyi-02 > p{
        font-size: 14px;
        margin-bottom: 20px;
    }
    div.meet-biyi-02 > p:last-child{
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 851px) {
    div.meet-biyi-02 > p{
        font-size: 13px;
        margin-bottom: 15px;
    }
    div.meet-biyi-02 > p:last-child{
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 768px) {
    div.meet-biyi-02 > p{
        font-size: 20px;
        margin-bottom: 36px;
    }
    div.meet-biyi-02 > p:last-child{
        margin-bottom: 18px;
    }
}

@media screen and (max-width: 425px) {
    div.meet-biyi-02 > p{
        font-size: 14px;
        margin-bottom: 30px;
    }
    div.meet-biyi-02 > p:last-child{
        margin-bottom: 15px;
    }
}

div.services-container{
    display: flex;
    flex-direction: row;
    gap:30px;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--primary-color-1);
    margin-top: 120px;
    margin-bottom: 200px;
}

@media screen and (max-width:768px) {
    /* div.services-container{
        flex-wrap: nowrap;
        justify-content: start;
        padding-inline: 20px;
    } */

    .react-slideshow-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-top: 200px;
    }
}
div.services-container > div{
        position: relative;
        flex-shrink: 0;
    position: relative;
}

div.services-container > div > img{
    width: 100%;
    display: block;
}
p.text{
    position: absolute;
    left: 50%;
    bottom: 10%;
    font-weight: 700;
    font-size: 48px;
    transform: translateX(-50%);
    color: #fff;
}
div.hover-div{
    border: 1px solid #E4BB89;
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 0;
    left: 0;
    overflow: hidden;
    height: 0;
    visibility: hidden;
}
img.top-image{
    position: absolute;
    top:10%;
    left:10%;
}
img.bottom-image{
    position: absolute;
    bottom:10%;
    right:10%;
    transform: rotate(180deg);
}
div.hover-div > p{
    color: var(--primary-color-2);
    font-size: var(--font-24);
    /* margin-block-end: 2.25rem; */
    font-weight: 600;
}
div.hover-div > div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    color: #E4BB89;
    font-size: var(--font-14);
    font-style: normal;
    font-weight: 600;
    transition: all ease 0.5s;
}
div.hover-div > div > span{
    font-size: 24px;
}
div.hover-div > div:hover{
    color:#FFF;
}
div.hover-div > div > svg > path, div.hover-div > div > svg{
    transition: all ease 0.5s;
}

div.hover-div > div:hover > svg{
    transform: rotate(-180deg);
}
div.hover-div > div:hover > svg > path{
    fill: #fff
}

div.swiper-wrapper > div:hover div.hover-div{
    animation: moveUp2 0.5s ease  1 forwards;
    background-color: var(--primary-color-1);
    color: var(--primary-color-2);
    overflow: hidden;
    visibility: visible
}

div.services-container > div:hover div.hover-div{
    animation: moveUp2 0.5s ease  1 forwards;
    background-color: var(--primary-color-1);
    color: var(--primary-color-2);
    overflow: hidden;
    visibility: visible;
}
@keyframes moveUp2{
    to{
        height: 100%;
    }
}
@media screen and (max-width: 1024px) {
    p.text{
        position: absolute;
        left: 50%;
        bottom: 10%;
        font-weight: 700;
        font-size: 32px;
        transform: translateX(-50%);
        color: #fff;
    }
}


@media screen and (max-width:768px) {
    .swiper{
        margin-top: 120px;
    }
    .swiper-wrapper{
        text-align: center;
    }
    .swiper-slide > img{
        width:85%;
    }
    /* .hover-div > img{
        width: 90%;
    } */
    div.hover-div{
        width:85%;
        left:50%;
        transform: translateX(-50%);
    }
}

div.meet-biyi-01{
    transform: translateX(-110%);
    transition: all ease 0.5s;
    transition-delay: 0.5s;
}
div.meet-biyi-02{
    transform: translateX(110%);
    transition: all ease 0.5s;
    transition-delay: 0.5s;
}

div.meet-biyi.scrollTo > div.meet-biyi-01,
div.meet-biyi.scrollTo > div.meet-biyi-02{
    transform: translateX(0%);
}

@media screen and (min-width: 768px) {
    div.services-container > div{
        transform: scale(0);
        transition: all ease 0.5s;
    }
    div.services-container.scrollTo > div{
        transform: scale(1);
    }
}