div.design-it{
    height: 30rem;
    background: url("../assets/Homepage/Back_drop.png");
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    transition: all ease 0.5s;
}

div.container{
    /* max-width: 20.8125rem; */
    /* width: 60%; */
    /* margin: 0 auto; */
    height: 60%;
    color: var(--primary-color-2);
    /* padding-block: 1.875rem; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}
div.container:hover{
    background: url("../assets/Homepage/You\ dream\ it_Biyi\ Aroloye.png");
    background-position: center;
    background-repeat: no-repeat;
}
div.container > div:nth-of-type(1){
    max-width: 20.8125rem; 
    width: 60%;
}
div.container > div > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.container > div > div >  p:nth-of-type(1){
    color: var(--primary-color-2);
    font-size: 2.1875rem;
    font-weight: 500;
    flex: 1;
    text-align: center;
}
div.container:hover  div > p:nth-of-type(1),
div.container:hover  div > p:nth-of-type(2){
    color: var(--primary-color-1);
}
div.container > div > div > p:nth-of-type(2){
    color: var(--primary-color-2);
    font-family: better-yesterday;
    font-size:  4.375rem;
    font-weight: 400;
    flex: 2;
    text-align: center;
}
div.lets-go-together{
    position: absolute;
    bottom:20%;
    right: 10%;
    transform: translateX(50%);
    color: #060606;
    text-align: center;
    font-size: var(--font-16);
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color-2);
    border-radius: 50%;
    width:5.0rem;
    height: 5.0rem;
} 
div.container:hover div.lets-go-together{
    color: var(--primary-color-2);
    background-color:#060606;
}
@media screen and (min-width: 768px){
    div.design-it{
        height: 46.875rem;
        background: url("../assets/Homepage/Back_drop.png");
        background-position: center;
        /* background-size: cover; */
        background-repeat: no-repeat;
        transition: all ease 0.5s;
    }
    div.container{
        /* max-width: 20.8125rem; */
        /* width: 60%; */
        /* margin: 0 auto; */
        height: 60%;
        color: var(--primary-color-2);
        /* padding-block: 1.875rem; */
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        position: relative;
    }
    div.container > div:nth-of-type(1){
        max-width: 20.8125rem; 
        width: 60%;
    }
    div.container > div > div{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    div.container > div > div > p:nth-of-type(1){
        color: var(--primary-color-2);
        font-size: 2.625rem;
        font-weight: 500;
        flex: 1;
        text-align: center;
    }
    div.container > div > div > p:nth-of-type(2){
        color: var(--primary-color-2);
        font-family: better-yesterday;
        font-size: 5.25rem;
        font-weight: 400;
        flex: 2;
        text-align: center;
    }
    div.lets-go-together{
        position: absolute;
        bottom:20%;
        right: 20%;
        color: #060606;
        text-align: center;
        font-size: var(--font-16);
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-color-2);
        border-radius: 50%;
        width:6.5625rem;
        height: 6.5625rem;
    }   
}

@media screen and (min-width: 1024px){
    div.design-it{
        height: 46.875rem;
        background: url("../assets/Homepage/Back_drop.png");
        background-position: center;
        background-repeat: no-repeat;

        transition: all ease 0.5s;
    }
    div.container{
        /* position: relative; */
        /* max-width: 20.8125rem; */
        /* width: 60%; */
        /* margin: 0 auto; */
        height: 60%;
        color: var(--primary-color-2);
        /* padding-block: 1.875rem; */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center
    }
    div.container > div:nth-of-type(1){
        max-width: 20.8125rem; 
        width: 60%;
    }
    div.container > div > div{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    div.container > div > div > p:nth-of-type(1){
        color: var(--primary-color-2);
        font-size: var(--font-48);
        font-weight: 500;
        flex: 1;
        text-align: center;
    }
    div.container > div > div > p:nth-of-type(2){
        color: var(--primary-color-2);
        font-family: better-yesterday;
        font-size: var(--font-96);
        font-weight: 400;
        flex: 2;
        text-align: center;
    }
    div.lets-go-together{
        position: absolute;
        bottom:20%;
        right: 25%;
        color: #060606;
        text-align: center;
        font-size: var(--font-16);
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-color-2);
        border-radius: 50%;
        width:6.5625rem;
        height: 6.5625rem;
    }
}