div.homepage{
    width: 100%;
}
/* div.homepage > p.name {
    font-family: better-yesterday;
    font-size: 4.75rem;
    margin-block-end: 2rem;
    color: #FFF;
    padding-block-start: 7.375rem;
    text-align: center;
  } */
  /* div.gif-container{
    width: 100%;
    position: relative;
    padding-block-end: 10rem;
}
div.gif-container > img.gif{
    position: relative;
    z-index: 2;
    max-width: 39.5625rem;
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 27.5rem;
}
div.gif-container > img.img{
    display: none;
    height: 41rem;
    width: 23.125rem;
    position: absolute;
}
img.backdrop1{
    left:0;
    top:0;
}
img.backdrop2{
    right:0;
    top:0;
}
div.gif-container > div.meet-biyi{
    position: absolute;
    left:95%;
    top: 70%;
    transform: translateX(-50%) translateY(-50%);
    width: 7.0625rem;
    height: 7.0625rem;
    color: #FFF;
    text-align: center;
    font-size:var(--font-20);
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 50%;
    z-index: 4;
} */
div.homepg-biyi{
    width: 100%;
    padding-block-start: 9.688rem;
    padding-inline: 0;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    gap:1.25rem;
}
div.homepg-biyi-image{
    width: 100%;
    height: 32.5rem;
}
div.homepg-biyi-image > img{
    width: 100%;
    height: 100%;
    display: block;
} 
div.homepg-biyi-text{
    padding-block-start: 0rem;
    text-align: center;
}
div.homepg-biyi-text > p:nth-of-type(1){
    font-family: better-yesterday;
    color: #e4bb89;
    font-size: 3.0rem;
    white-space: nowrap;
}
div.homepg-biyi-text > p:nth-of-type(2){
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
}  
div.homepg-biyi-cta{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.0rem;
    height: 7.0rem;
    border-radius: 50%;
    background-color: #FFF;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
div.homepg-mission{
    position: sticky;
    top:0;
    left:0;
    background-color: #FFF;
    width: 100%;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.homepg-mission > img{
    transform: scale(0.6);
}
div.homepg-mission > p{
    position: absolute;
    left:6.563rem;
    top: 0;
    background: #000;
    padding: 0.5rem;
    border-radius: 0px 0px 0.25rem 0.25rem;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
}
div.homepg-brand{
    width: 100%;
    height: 25rem;
    position: relative;
    Z-index: 3;
    background-color: #000;
    padding-block-start: 4.688rem;
}
div.homepg-brand > p{
    text-align: center;
    color: #FFF;
    font-size: 1.0rem;
    font-weight: 400;
    line-height: normal;
    margin-block-end: 2.5rem;
}
div.homepg-brand > p > span{
    font-weight: 700;
}
div.homepg-brand-container-main{
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
}
div.homepg-brand-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 3.125rem;
    padding-block: 1.5rem;
    padding-inline-start: 1.5rem;
    animation: motion 15s linear 1s infinite alternate;
}
@keyframes motion {
 from{
    transform: translateX(0);
 }
 to{
    transform: translateX(-155%);
 } 
}
div.homepg-brand-container > img{
    transform:  scale(0.5);
}
div.homepg-brand-portfolio{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 7.188rem;
    height: 7.188rem;
    background-color: #FFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
}

/* div.mission{
    background: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-block-end: 3.75rem;
    top:0;
    left:0;
    z-index: 0;
}
div.mission > div{
    flex: 1
}
div.mission > div.div01{
    flex: 0.75;
}
div.mission > div > img{
    width: 100%
} */
/* div.div02 > p.para01{
    color: #000;
    font-size: var(--font-24);
    margin-block-end: 1.125rem;
    font-weight: 600;
    text-align: center;

}
div.div02 > p.para01 > span{
    font-family: better-yesterday;
}
div.div02 > p.para02{
    color: #000;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    font-size: var(--font-14);
    margin-block-end: 1rem;
    font-weight: 600;
}
div.vector-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
svg.svg2{
    transform: translateY(.6875rem);
}
svg.svg3{
    transform: translateY(-2rem) translateX(.5rem);
} */
/* div.experience{
    background-image:url("../assets/Homepage/biyi_bg.png") ;
    background-repeat:no-repeat;
    background-position: center;
    padding-inline: 2rem;
    padding-block-start: 3rem;
    margin-block-end: 0rem;
    position: relative;
}
div.exp-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--primary-color-2);
}
div.exp-container > div:not(:nth-of-type(2),:nth-of-type(4)){
    padding: .25rem;
    padding-inline: 1.0rem;
}
div.line1,div.line2{
    height: 6.25rem;
    width: .125rem;
    border: .125rem solid var(--primary-color-2);
}
div.exp-container > div > p:nth-of-type(1){
    text-align: center;
    font-size: 1.875rem;
    font-weight: 500;
    white-space: nowrap;
}
div.exp-container > div > p:nth-of-type(2){
    font-size: .625rem;
    font-weight: 500;
    white-space: nowrap;
}
div.view-portfolio{
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    font-size: var(--font-14);
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: .125rem solid var(--primary-color-2);
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateX(-50%) translateY(-50%);
} */


@media screen and (min-width: 768px) {
    /* div.homepage > p.name{
        font-family: better-yesterday;
        color: #FFF;
        font-size: var(--font-70);
        font-weight: 400;
        text-align: center;
        padding-block-start: 11.5rem;
        margin-block-end: .5rem;
    } */
    
    /* div.gif-container{
        width: 100%;
        padding-inline: 8.125rem;
        position: relative;
        padding-block-end: 6.25rem;
    }
    div.gif-container > img.img{
        display: block;
        height: 31.25rem;
        width: 23.125rem;
        position: absolute;
    }
    img.backdrop1{
        left:3.8125rem;
        top:0;
        transform: translateX(-100%) rotate(360deg);
        transition: all ease 0.5s;
    }
    img.backdrop1.appear{
        transform: translateX(0) rotate(0deg);
    }
    img.backdrop2{
        right:3.8125rem;
        top:0;
        transform: translateX(100%) rotate(360deg);
        transition: all ease 0.5s 0.5s;
    }
    img.backdrop2.appear{
        transform: translateX(0) rotate(0deg);
    }
    div.gif-container > img.gif{
        position: relative;
        z-index: 2;
        max-width: 39.5625rem;
        margin: 0 auto;
        display: block;
        width: 100%;
        height: 34.375rem;
    } */
div.homepg-biyi{
    width: 100%;
    padding-block-start: 6.25rem;
    padding-inline: 1.563rem;
        position: relative;
        display: flex;
        flex-direction: row;
        gap:2.0rem;
        justify-content: center;
}
div.homepg-biyi-image{
    width: 40.25rem;
    height: 42.25rem;
}
div.homepg-biyi-image > img{
    width: 100%;
    height: 100%;
    display: block;
} 
div.homepg-biyi-text{
    padding-block-start: 10rem;
    text-align: center;
}
div.homepg-biyi-text > p:nth-of-type(1){
    font-family: better-yesterday;
    color: #e4bb89;
    font-size: 3.0rem;
    white-space: nowrap;
}
div.homepg-biyi-text > p:nth-of-type(2){
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
}
div.homepg-mission{
    position: sticky;
    top:0;
    left:0;
    background-color: #FFF;
    width: 100%;
    height: 31.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.homepg-mission > img{
    transform: scale(0.9);
}
div.homepg-mission > p{
    position: absolute;
    left: 6.563rem;
    top: 0;
    background: #000;
    padding: 0.5rem;
    border-radius: 0px 0px 0.25rem 0.25rem;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
}
div.homepg-brand{
    width: 100%;
    height: 25rem;
    position: relative;
    Z-index: 3;
    background-color: #000;
    padding-block-start: 4.688rem;
    overflow: hidden;
}
div.homepg-brand > p{
    text-align: center;
    color: #FFF;
    font-size: 1.0rem;
    font-weight: 400;
    line-height: normal;
    margin-block-end: 2.5rem;
}
div.homepg-brand > p > span{
    font-weight: 700;
}
div.homepg-brand-container-main{
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
}
div.homepg-brand-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 3.125rem;
    padding-block: 1.5rem;
    padding-inline-start: 1.5rem;
    animation: motion 15s linear 1s infinite alternate;
}
@keyframes motion {
 from{
    transform: translateX(0);
 }
 to{
    transform: translateX(-155%);
 } 
}
div.homepg-brand-container > img{
    transform:  scale(0.75);
}
div.homepg-brand-portfolio{
    position: absolute;
    /* left: 50%;
    bottom: 0;
    transform: translateX(-50%); */
    width: 7.188rem;
    height: 7.188rem;
    background-color: #FFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
}
    /* div.mission{
        background: var(--secondary-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2.5rem;
        padding-inline-start: 0;
        padding-inline-end: 0;
        padding-block-end: 3.75rem;
    }
    div.mission > div{
        flex: 1
    }
    div.mission > div > img{
        width: 100%
    } */
    /* div.div02 > p.para01{
        color: #000;
        font-size: 1.75rem;
        font-weight: 600;
        text-align: center;
        margin-block-end: 1.875rem;

    }
    div.div02 > p.para01 > span{
        font-family: better-yesterday;
    }
    div.div02 > p.para02{
        color: #000;
        text-align: center;
        font-size: var(--font-16);
        font-weight: 600;
        margin-block-end: 1.25rem;
        text-align: center;
    }
    div.vector-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    svg.svg2{
        transform: translateY(.6875rem);
    }
    svg.svg3{
        transform: translateY(-2rem) translateX(.5rem);
    } */
    /* div.experience{
        height: 28rem;
        background-image:url("../assets/Homepage/biyi_bg.png") ;
        background-repeat:no-repeat;
        background-position: center;
        padding-inline: 2.8125rem;
        padding-block-start: 3.75rem;
    }
    div.exp-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: var(--primary-color-2);
    }
    div.exp-container > div:not(:nth-of-type(2),:nth-of-type(4)){
        padding: .625rem;
        padding-inline: 1.0rem;
    }
    div.line1,div.line2{
        height: 6.25rem;
        width: .125rem;
        border: .125rem solid var(--primary-color-2);
    }
    div.exp-container > div > p:nth-of-type(1){
        text-align: center;
        font-size:var(--font-48);
        font-weight: 500;
    }
    div.exp-container > div > p:nth-of-type(2){
        font-size: var(--font-16);
        font-weight: 500;
    }
    div.view-portfolio{
        width: 6.25rem;
        height: 6.25rem;
        border-radius: 50%;
        font-size: var(--font-18);
        color: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: .125rem solid var(--primary-color-2);
        margin: 0 auto;
    }  */
}
@media screen and (min-width: 1024px){
/* div.homepage > p.name{
    font-family: better-yesterday;
    color: #FFF;
    font-size: var(--font-70);
    font-weight: 400;
    text-align: center;
    padding-block-start: 13rem;
    margin-block-end: .5rem;
} */

/* div.gif-container{
    width: 100%;
    padding-inline: 8.125rem;
    position: relative;
    padding-block-end: 6.25rem;
}
div.gif-container > img.img{
    height: 41rem;
    width: 23.125rem;
    position: absolute;
}
img.backdrop1{
    left:3.8125rem;
    top:0;
}
img.backdrop2{
    right:3.8125rem;
    top:0;
}
div.gif-container > img.gif{
    position: relative;
    z-index: 2;
    max-width: 39.5625rem;
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 41.1875rem;
} */
div.homepg-biyi{
    width: 100%;
    padding-block-start: 9.375rem;
    padding-inline: 3.125rem;
    position: relative;
    display: flex;
    flex-direction: row;
    gap:3.75rem;
    justify-content: center;
}
div.homepg-biyi-image{
    width: 42.25rem;
    height: 44.25rem;
}
div.homepg-biyi-image > img{
    width: 100%;
    height: 100%;
    display: block;
}
div.homepg-biyi-text{
    padding-block-start: 10rem;
    text-align: center;
}
div.homepg-biyi-text > p:nth-of-type(1){
    font-family: better-yesterday;
    color: #e4bb89;
    font-size: 4rem;
}
div.homepg-biyi-text > p:nth-of-type(2){
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 500;
}
div.homepg-mission{
    position: sticky;
    top:0;
    left:0;
    background-color: #FFF;
    width: 100%;
    height: 37.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.homepg-mission > p{
    position: absolute;
    left:6.563rem;
    top: 0;
    background: #000;
    padding: 0.5rem;
    border-radius: 0px 0px 0.25rem 0.25rem;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
}
div.homepg-brand{
    width: 100%;
    height: 32.813rem;
    position: relative;
    Z-index: 3;
    background-color: #000;
    padding-block-start: 8.125rem;
}
div.homepg-brand > p{
    text-align: center;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: normal;
    margin-block-end: 3rem;
    overflow-y: hidden;
}
div.homepg-brand > p > span{
    font-weight: 700;
}
div.homepg-brand-container-main{
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
}
div.homepg-brand-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 3.125rem;
    padding-block: 2.375rem;
    padding-inline-start: 1.875rem;
    animation: motion 15s linear 1s infinite alternate;
}
@keyframes motion {
 from{
    transform: translateX(0);
 }
 to{
    transform: translateX(-155%);
 } 
}
div.homepg-brand-container > img{
    transform:  scale(1);
}
div.homepg-brand-portfolio{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 7.188rem;
    height: 7.188rem;
    background-color: #FFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
}
/* div.mission{
    background: var(--secondary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.5rem;
    padding-inline-start: 3.75rem;
    padding-inline-end: 12.5rem;
    padding-block-end: 3.75rem;
}
div.mission > div{
    flex: 1
}
div.mission > div > img{
    width: 100%
} */
/* div.div02 > p.para01{
    color: #000;
font-size: var(--font-32);
font-weight: 600;
margin-block-end: 1.875rem;
}
div.div02 > p.para01 > span{
    font-family: better-yesterday;
}
div.div02 > p.para02{
    color: #000;
    text-align: center;
    font-size: var(--font-18);
    font-weight: 600;
    margin-block-end: 1.25rem;
}
div.vector-img{
    display: flex;
    align-items: center;
}
svg.svg2{
    transform: translateY(.6875rem);
}
svg.svg3{
    transform: translateY(-2rem) translateX(.5rem);
} */
/* div.experience{
    height: 33rem;
    background-image:url("../assets/Homepage/biyi_bg.png") ;
    background-repeat:no-repeat;
    background-position: center;
    padding-inline: 4.0625rem;
    padding-block-start: 5.625rem;
    margin-block-end: 1.5625rem;
}
div.exp-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--primary-color-2);
}
div.exp-container > div:not(:nth-of-type(2),:nth-of-type(4)){
    padding: .625rem;
    padding-inline: 1.5rem;
}
div.line1,div.line2{
    height: 6.25rem;
    width: .125rem;
    border: .125rem solid var(--primary-color-2);
}
div.exp-container > div > p:nth-of-type(1){
    text-align: center;
    font-size:var(--font-64);
    font-weight: 500;
}
div.exp-container > div > p:nth-of-type(2){
    font-size: var(--font-20);
    font-weight: 500;
}
div.view-portfolio{
    width: 8.125rem;
    height: 8.125rem;
    border-radius: 50%;
    font-size: var(--font-24);
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .125rem solid var(--primary-color-2);
    margin: 0 auto;
} */
}