div.homepage{
    width: 100%;
}
div.homepg-biyi{
    width: 100%;
    padding-block-start: 9.688rem;
    padding-inline: 0;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    gap:1.25rem;
    overflow: hidden;
}
div.homepg-biyi-image{
    width: 100%;
    height: 32.5rem;
}
div.homepg-biyi-image > img{
    width: 100%;
    height: 100%;
    display: block;
} 
div.homepg-biyi-text{
    padding-block-start: 0rem;
    text-align: center;
}
/* div.homepg-biyi-text > p:nth-of-type(1){
    font-family: better-yesterday;
    color: #e4bb89;
    font-size: 3.0rem;
    white-space: nowrap;
} */
div.homepg-biyi-text > p{
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
}  
div.homepg-biyi-cta{
    cursor: pointer;
    position: absolute;
    transform: translateX(-50%) translateY(-50%) scale(0);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.0rem;
    height: 7.0rem;
    border-radius: 50%;
    background-color: transparent;
    color: #fff;
    margin: 67.25px auto 0 auto;
    border: 2px solid #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
div.homepg-biyi-cta.appear{
    transform:  translateX(-50%) translateY(-50%) scale(0);
    animation: appearance3 1s ease 1 forwards;
}
@keyframes appearance3 {
    to{
        transform: translateX(-50%) translateY(-50%) scale(1);
    }
}
div.homepg-biyi-cta.disappear{
    transform:  translateX(-50%) translateY(-50%) scale(1);
    animation: disappearance3 1s ease 1 forwards;
}
@keyframes disappearance3 {
    to{
        transform: translateX(-50%) translateY(-50%) scale(0);
    }
}

div.homepg-mission{
    position: sticky;
    top:0;
    left:0;
    background-color: #FFF;
    width: 100%;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.homepg-mission > img{
    transform: scale(0.6);
}
@media screen and (max-width:375px) {
    div.homepg-mission > img{
        transform: scale(0.45);
    }   
}
div.homepg-mission > p{
    position: absolute;
    left:6.563rem;
    top: 0;
    background: #000;
    padding: 0.5rem;
    border-radius: 0px 0px 0.25rem 0.25rem;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
}
div.homepg-brand{
    overflow: hidden;
    width: 100%;
    height: 450px;
    position: relative;
    Z-index: 3;
    background-color: #000;
    padding-block-start: 4.688rem;
}
/* div.homepg-brand > p{
    text-align: center;
    color: #FFF;
    font-size: 1.0rem;
    font-weight: 400;
    line-height: normal;
    margin-block-end: 2.5rem;
}
div.homepg-brand  p > span{
    font-weight: 700;
} */
div.homepg-brand-container-main{
    overflow-x: hidden;
    /* border-top: 3px solid #fff; */
    /* border-bottom: 3px solid #fff; */
}
/* div.homepg-brand-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 3.125rem;
    padding-block: 1.5rem;
    padding-inline-start: 1.5rem;
    animation: motion 15s linear 1s infinite alternate;
}*/
div.homepg-brand-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* row-gap: 8px; */
    /* column-gap: 8px; */
    justify-content: center;
}

@media screen and (max-width: 500px) {
    div.homepg-brand-container{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        /* row-gap: 4px; */
        /* column-gap: 8px; */
        padding-inline-start: 50px;
        animation: motion 10s linear infinite alternate;
    }
    @keyframes motion {
        from{
            transform: translateX(75%);
        }
        to{
            transform: translateX(-125%);
        }
    }
}

@media screen and (max-width: 376px) {
    div.homepg-brand-container{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        /* row-gap: 4px; */
        /* column-gap: 8px; */
        padding-inline-start: 0px;
        animation: motion 10s linear infinite alternate;
    }
    
    @keyframes motion {
        from{
            transform: translateX(100%);
        }
        to{
            transform: translateX(-190%);
        }
    }
}

div.homepg-brand-container > img{
    transform: scale(0.6);
}
/*
@keyframes motion {
 from{
    transform: translateX(0);
 }
 to{
    transform: translateX(-155%);
 } 
} */
/* div.homepg-brand-container > img{
    transform:  scale(0.5);
} */
div.homepg-brand-portfolio{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) translateY(-50%) scale(0);
    width: 7.188rem;
    height: 7.188rem;
    background-color: #FFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    cursor: pointer;
}
div.homepg-brand-portfolio.appear{
    transform: translateX(-50%) translateY(-50%)  scale(0);
    animation: appearance 1s ease 1 forwards;
}
@keyframes appearance {
    to{
        transform: translateX(-50%) translateY(-50%)  scale(1);
    }
}
div.homepg-brand-portfolio.disappear{
    transform: translateX(-50%) translateY(-50%)  scale(1);
    animation: disappearance 1s ease 1 forwards;
}
@keyframes disappearance {
    to{
        transform: translateX(-50%) translateY(-50%)  scale(0);
    }
}
div.homepg-brand-flex > div:nth-of-type(1){
    transform: translateY(100%);
    visibility: hidden;
}

div.homepg-brand-flex{
    display: flex;
    gap: 42px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
div.homepg-brand-flex div > p{
    color: #E4BB89;
    text-align: center;
}
div.homepg-brand-flex div > p:nth-of-type(1){
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
}

div.homepg-brand-flex div > p:nth-of-type(2){
    font-size: 15x;
    font-style: normal;
    font-weight: 700;
}



div.homepg-brand-flex > div:nth-of-type(1).scrollTo{
    animation: scroll 0.5s ease  1 forwards;
}
@keyframes scroll {
    from{
        transform: translateY(100%);
        visibility: hidden;
    }
    to{
        transform: translateY(0%);
        visibility: visible;
    }
}

div.homepg-brand-flex > div:nth-of-type(2){
    transform: translateY(-100%);
    visibility: hidden;
}
div.homepg-brand-flex > div:nth-of-type(2).scrollTo{
    animation: scroll2 0.5s ease  1 forwards;
}
@keyframes scroll2 {
    from{
        transform: translateY(-100%);
        visibility: hidden;
    }
    to{
        transform: translateY(0%);
        visibility: visible;
    }
}

@media screen and (min-width: 768px) {
    
div.homepg-biyi{
    width: 100%;
    padding-block-start: 6.25rem;
    padding-inline: 1.563rem;
        position: relative;
        display: flex;
        flex-direction: row;
        gap:2.0rem;
        justify-content: center;
}
div.homepg-biyi-image{
    width: 40.25rem;
    height: 42.25rem;
}
div.homepg-biyi-image > img{
    width: 100%;
    height: 100%;
    display: block;
} 
div.homepg-biyi-text{
    padding-block-start: 10rem;
    text-align: center;
}
div.homepg-biyi-text > p{
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
}
div.homepg-mission{
    position: sticky;
    top:0;
    left:0;
    background-color: #FFF;
    width: 100%;
    height: 31.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.homepg-mission > img{
    transform: scale(0.9);
}
div.homepg-mission > p{
    position: absolute;
    left: 6.563rem;
    top: 0;
    background: #000;
    padding: 0.5rem;
    border-radius: 0px 0px 0.25rem 0.25rem;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
}
div.homepg-brand{
    width: 100%;
    height: 550px;
    position: relative;
    Z-index: 3;
    background-color: #000;
    padding-block-start: 4.688rem;
    overflow: hidden;
}
div.homepg-brand-container-main{
    /* border-top: 3px solid #fff; */
    /* border-bottom: 3px solid #fff; */
}
div.homepg-brand-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 22px;
    column-gap: 23px;
    justify-content: center;
}
div.homepg-brand-container > img{
    transform: scale(0.75);
}
/* @keyframes motion {
 from{
    transform: translateX(0);
 }
 to{
    transform: translateX(-155%);
 } 
}*/
/* div.homepg-brand-container > img{ 
    transform:  scale(0.75);
} */
div.homepg-brand-portfolio{
    position: absolute;
    /* left: 50%;
    bottom: 0;
    transform: translateX(-50%); */
    width: 7.188rem;
    height: 7.188rem;
    background-color: #FFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
}
}
@media screen and (min-width: 1024px){
div.homepg-biyi{
    width: 100%;
    padding-block-start: 9.375rem;
    padding-inline: 3.125rem;
    position: relative;
    display: flex;
    flex-direction: row;
    gap:3.75rem;
    justify-content: center;
}
div.homepg-biyi-image{
    width: 42.25rem;
    height: 44.25rem;
}
div.homepg-biyi-image > img{
    width: 100%;
    height: 100%;
    display: block;
}
div.homepg-biyi-text{
    padding-block-start: 10rem;
    text-align: center;
}
div.homepg-biyi-text > p{
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 500;
}
div.homepg-mission{
    position: sticky;
    top:0;
    left:0;
    background-color: #FFF;
    width: 100%;
    height: 37.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.homepg-mission > p{
    position: absolute;
    left:6.563rem;
    top: 0;
    background: #000;
    padding: 0.5rem;
    border-radius: 0px 0px 0.25rem 0.25rem;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
}
div.homepg-brand{
    width: 100%;
    height: 700px;
    position: relative;
    Z-index: 3;
    background-color: #000;
    padding-block-start: 8.125rem;
}
div.homepg-brand-flex{
    display: flex;
    gap: 42px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}
div.homepg-brand-flex div > p{
    color: #E4BB89;
    text-align: center;
}
div.homepg-brand-flex div > p:nth-of-type(1){
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
}

div.homepg-brand-flex div > p:nth-of-type(2){
    font-size: 15x;
    font-style: normal;
    font-weight: 700;
}

div.homepg-brand-container-main{
    /* border-top: 3px solid #fff; */
    /* border-bottom: 3px solid #fff; */
} 
div.homepg-brand-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 44px;
    column-gap: 46px;
    justify-content: center;
}
div.homepg-brand-container > img{
    transform: scale(1);
}
/*
@keyframes motion {
 from{
    transform: translateX(0);
 }
 to{
    transform: translateX(-155%);
 } 
}
div.homepg-brand-container > img{
    transform:  scale(1);
} */
div.homepg-brand-portfolio{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 7.188rem;
    height: 7.188rem;
    background-color: #FFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
}
}