div.learnmore-container{
    padding-block-start: 230px;
}

div.learnmore-container > p{
    max-width: 250px;
    width: 70%;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    color: #E4BB89;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 70px;
}
div.learnmore-container > p.care{
    overflow: hidden;
    white-space: nowrap;
    animation: paratype 1s steps(30) 1;
}
@keyframes paratype {
    from {
        width: 0; /* Start with no text */
    }
    to {
        width: 250px; /* Reveal the entire text */
    }
}
div.learnmore-container > p.gracias{
    max-width: 500px;
    overflow: hidden;
    white-space: nowrap;
    animation: paratype2 1s steps(30) 1;
}
@keyframes paratype {
    from {
        width: 0; /* Start with no text */
    }
    to {
        width: 500px; /* Reveal the entire text */
    }
}

div.learnmore-container > input{
    max-width: 463px;
    background-color: transparent;
    display: block;
    margin: 0 auto;
    width: 90%;
    padding: 16px 0px 16px 14px;
    border-radius: 6px;
    border: 1px solid #FFF;
    margin-bottom: 65px;
    transform: translateY(200%);
    visibility: hidden;
    animation: inputmoving 1s ease 1s 1 forwards;
}

@keyframes inputmoving {
    from{
        transform: translateY(200%);
        visibility: hidden;
    }
    to{
        transform: translateY(0%);
        visibility: visible;
    }
}

div.learnmore-container > input::placeholder{
    color: #9B9B9B;
    font-size: 14px;
    font-weight: 400;
}

div.learnmore-div, div.learnmore-div2{
    position: relative;
    cursor: pointer;
    width: 113px;
    height: 113px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #fff;
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin: 0 auto 120px auto;

}
div.learnmore-div{
    transform: translateY(200%);
    visibility: hidden;
    animation: divmoving 1s ease 1.5s 1 forwards;
}
@keyframes divmoving {
    from{
        transform: translateY(200%);
        visibility: hidden;
    }
    to{
        transform: translateY(0%);
        visibility: visible;
    }
}

div.learnmore-div2{
    transform: translateY(250%);
    visibility: hidden;
    animation: divmoving2 1s ease 1s 1 forwards;
}
@keyframes divmoving2 {
    to{
        transform: translateY(0%);
        visibility: visible;
    }
}

div.learnmore-div::after{
    content: "learn more";
    font-size: 20px;
    text-align: center;
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0); 
    width: 85%;
    height: 85%;
    background-color: #FFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.5s;
}
div.learnmore-div2::after{
    content: "Home";
    font-size: 20px;
    text-align: center;
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0); 
    width: 85%;
    height: 85%;
    background-color: #FFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.5s;
}
div.learnmore-div2:hover::after, div.learnmore-div:hover::after{
    transform: translateX(-50%) translateY(-50%) scale(1);
}