div.lettalk3 >input{
    display:  block;
    margin: 8.75rem auto 3.875rem auto;
    max-width: 28.9375rem;
    width: 70%;
    padding: 1rem 0px 1rem 1rem;
    border-radius: .375rem;
    border: 1px solid #FFF;
    background-color: transparent;
}
div.lettalk3 >input:focus{
    outline: none;
}
div.lettalk3 >input::placeholder{
    color: #9B9B9B;
    font-size: .875rem;
    font-weight: 400;
}